@*
  
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    //Layout = null;
    var orderstamp=DateTime.Now.DayOfWeek; 
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
        
    <p>What types are there</p>
   @* @{ 
        <input type="checkbox" name=":@Model.Name"/>
    }*@
</body>
</html>
